<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      
      <header>
        <div align="center">
        
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
          <br><br>
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          
          
          
          <h3>Welcome! I am Reuben, and it`s a great pleasure to have you here!</h3>

        <br><br>
           </div>
      </header>
     
      <section>

      {{ content }}

      </section>
      <footer>
   <p>Find me on:</p>
   <p class="view">
      <a href="https://github.com/bennyhawk">
         <svg xmlns="http://www.w3.org/2000/svg"
            aria-label="GitHub" role="img"
            viewBox="0 0 512 512">
            <rect
               width="32" height="32"
               rx="15%"
               fill="#1B1817"/>
            <path fill="#fff" d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-50c-71 16-86-28-86-28-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z"/>
         </svg>
      </a>
      <a href="https://www.instagram.com/bennyhawk.rn/">
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-label="Instagram" role="img"
            viewBox="0 0 512 512">
            <rect
               width="32" height="32"
               rx="15%"
               id="b"/>
            <use fill="url(#a)" xlink:href="#b"/>
            <use fill="url(#c)" xlink:href="#b"/>
            <radialGradient
               id="a" cx=".4" cy="1" r="1">
               <stop offset=".1" stop-color="#fd5"/>
               <stop offset=".5" stop-color="#ff543e"/>
               <stop offset="1" stop-color="#c837ab"/>
            </radialGradient>
            <linearGradient
               id="c" x2=".2" y2="1">
               <stop offset=".1" stop-color="#3771c8"/>
               <stop offset=".5" stop-color="#60f" stop-opacity="0"/>
            </linearGradient>
            <g
               fill="none" stroke="#fff" stroke-width="30">
               <rect width="308" height="308" x="102" y="102" rx="81"/>
               <circle cx="256" cy="256" r="72"/>
               <circle cx="347" cy="165" r="6"/>
            </g>
         </svg>
      </a>
      <a href="https://www.linkedin.com/in/reubennellissery/">
         <svg xmlns="http://www.w3.org/2000/svg"
            aria-label="LinkedIn" role="img"
            viewBox="0 0 512 512"
            fill="#fff">
            <rect
               width="32" height="32"
               rx="15%"
               fill="#0077b5"/>
            <circle cx="142" cy="138" r="37"/>
            <path stroke="#fff" stroke-width="66" d="M244 194v198M142 194v198"/>
            <path d="M276 282c0-20 13-40 36-40 24 0 33 18 33 45v105h66V279c0-61-32-89-76-89-34 0-51 19-59 32"/>
         </svg>
      </a>
      <a href="https://medium.com/@bennyhawk">
         <svg xmlns="http://www.w3.org/2000/svg"
            aria-label="Medium" role="img"
            viewBox="0 0 512 512">
            <rect
               width="32" height="32"
               rx="15%"
               fill="#12100e"/>
            <path fill="#fff" d="M125 173c0-4-2-9-5-11l-31-38v-6h98l75 166 67-166h93v6l-27 26c-2 1-3 4-3 7v190c0 3 1 6 3 8l27 25v6H289v-6l27-26c3-3 3-4 3-8V193l-76 192h-10l-88-192v129c-1 5 1 11 5 15l35 43v5H85v-5l35-43c4-4 6-10 5-15z"/>
         </svg>
      </a>
   </p>
</footer>

      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
